body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-image: url(../img3/643.jpg);
}

.legend {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.legend img {
    width: 50%;
}